@import 'react-tabs/style/react-tabs.css';

.innerWrap {
	padding: 20px 70px;
	@include for-mobile {
		padding: 20px 20px;
	}
}
.react-tabs__tab--selected {
	color: #000 !important;
	background: #fff;
	transition: 0.3s ease-in-out;
}
.react-tabs__tab {
	color: #fff;
	transition: 0.3s ease-in-out;
	border-radius: 5px;
	margin-right: 10px;
	font-size: 18px;
	text-transform: uppercase;
	&:hover {
		background: #fff;
		color: #000;
	}
}
.react-tabs__tab-list {
	border: 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.offline-wrap {
	margin-top: 30px;
	p {
		font-size: 18px;
	}
	ul {
		color: #fff;
		font-size: 18px;
	}
	h4 {
		margin-top: 20px;
		font-size: 25px;
	}
}
.onlineWrap {
	margin-top: 20px;
	position: relative;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 5px;
	backdrop-filter: blur(5px);
	padding: 20px;
}
.course-new-h {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 25px;
}
.course-register {
	font-size: 18px;
	background: #fff;
	color: #000;
	border-radius: 5px;
	box-shadow: 0 0 5px #fff;
	transition: 0.3s ease-in-out;
	padding: 5px 30px;
	&:hover {
		background: #000;
		color: #fff;
		cursor: pointer;
	}
}
.img-pos-abs {
	position: absolute;
	right: 0px;
	bottom: 0px;
	z-index: -1;
	width: 35%;
}
.onlineMain {
	position: relative;
	z-index: 0;
}
.offlineMain {
	position: relative;
	z-index: 0;
	.offline-wrap {
		margin-top: 20px;
		position: relative;
		background: rgba(255, 255, 255, 0.2);
		border-radius: 5px;
		backdrop-filter: blur(5px);
		padding: 20px;
	}
	.img-pos-abs {
		position: absolute;
		right: 0px;
		bottom: 0px;
		z-index: -1;
		width: 35%;
	}
}
