.mainSliderWrap {
	background: linear-gradient(45deg, black, transparent);
	// padding: 50px 0px;
	height: 500px;
	@include for-mobile {
		height: 500px;
	}
}
.slider1Wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 20px 70px;
	@include for-mobile {
		padding: 20px 20px 20px 20px;
	}
	.contentWrap {
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		@include for-both {
			width: 100%;
			margin-bottom: 20px;
		}
		.our-h {
			font-size: 74px;
			text-align: left;
			font-weight: 300;
			text-transform: uppercase;
			line-height: 30px;
			display: none;
			@include for-mobile {
				font-size: 50px;
				text-align: center;
				display: none;
			}
		}
		.courses-h {
			font-size: 74px;
			text-align: left;
			text-transform: uppercase;
			@include for-mobile {
				font-size: 20px;
				text-align: center;
			}
		}
		.courses-p {
			font-size: 20px;
			text-align: left;
			width: 80%;
			@include for-mobile {
				width: 100%;
				text-align: center;
				font-size: 15px;
			}
		}
		.btn-enrol-wrap {
			margin-top: 30px;
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			@include for-mobile {
				justify-content: center;
			}
			.btn-enrol {
				font-family: 'Poppins';
				font-size: 20px;
				font-weight: 400;
				background: none;
				border-radius: 5px;
				padding: 5px 20px;
				border: 0px;
				box-shadow: 0 0 5px #fff;
				color: #fff;
				transition: 0.3s ease-in-out;
				@include for-mobile {
					font-size: 18px;
					padding: 5px 15px;
					font-weight: 600;
				}
				&:hover {
					transform: scale(1.1);
				}
			}
		}
	}
	.courseCardWrap {
		width: 50%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		.sliderImg {
			width: 90%;
		}
		@include for-both {
			width: 100%;
		}
		// .cardCourse {
		// 	padding: 15px;
		// 	background: rgb(70 130 180 / 80%);
		// 	border-radius: 10px;
		// 	display: flex;
		// 	flex-direction: column;
		// 	width: 48%;
		// 	transition: 0.3s ease-in-out;
		// 	&:hover {
		// 		background: rgb(70 130 180 / 100%);
		// 	}
		// 	.cardCourse-h {
		// 		color: #fff;
		// 		font-weight: 600;
		// 		margin-bottom: 20px;
		// 		font-size: 24px;
		// 	}
		// 	.coursesList {
		// 		display: flex;
		// 		flex-direction: column;
		// 		justify-content: flex-start;
		// 		align-content: flex-start;
		// 		align-items: flex-start;
		// 		padding: 0px 20px;
		// 		li {
		// 			color: #fff;
		// 			font-size: 18px;
		// 			margin-bottom: 5px;
		// 			text-align: left;
		// 		}
		// 	}
		// 	.course-p {
		// 		width: 90%;
		// 		margin-top: 10px;
		// 		margin-bottom: 10px;
		// 		align-self: center;
		// 		font-size: 16px;
		// 		text-align: left;
		// 		color: #fff;
		// 	}
		// }
	}
}
.viewBtn-wrap {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: flex-end;
	align-content: center;
	margin-top: 10px;
	.viewCourse {
		align-self: center;
		background: #fff;
		border: 1px solid #fff;
		color: #4682b4;
		font-size: 18px;
		padding: 5px 15px;
		width: 70%;
		font-family: 'Poppins';
		border-radius: 5px;

		&:hover {
			cursor: pointer;
		}
	}
}
.paddingTop30 {
	margin-top: 30px;
}
.event-h {
	font-size: 60px;
	z-index: 22;
	@include for-mobile {
		font-size: 30px;
		margin-bottom: 10px;
		align-self: flex-start;
		padding-left: 40px;
	}
}
.eventWrap {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url('../public/images/eventBG.jpg');
	background-position-y: 0px;
	background-position-x: 0px;
	background-repeat: no-repeat;
	@include for-both {
		width: 100%;
		margin-bottom: 20px;
	}
	.courses-p {
		margin-bottom: 10px !important;
		z-index: 22;
		span {
			font-weight: bold;
		}
	}
	.btn-enrol-wrap {
		margin-top: 30px;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		@include for-mobile {
			justify-content: center;
		}
		.btn-enrol {
			font-family: 'Poppins';
			font-size: 20px;
			font-weight: 400;
			background: none;
			border-radius: 5px;
			padding: 5px 20px;
			border: 0px;
			box-shadow: 0 0 5px #fff;
			color: #fff;
			z-index: 22;
			transition: 0.3s ease-in-out;
			@include for-mobile {
				font-size: 18px;
				padding: 5px 15px;
				font-weight: 600;
			}
			&:hover {
				transform: scale(1.1);
			}
		}
	}
}
.eventSlider1Wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0px;
	height: 500px;
	width: 100%;
	@include for-mobile {
		padding: 0px;
		flex-direction: column;
		height: 300px;
		img {
			width: 100% !important;
			height: 200px !important;
		}
	}
}
.backDrop {
	width: 100%;
	height: 100%;
	background: linear-gradient(45deg, black, transparent);
	backdrop-filter: blur(13px);
	position: absolute;
	top: 0;
	z-index: 11;
}
.event-info-wrap {
	display: flex;
	z-index: 22;
	margin-right: 20px;
	img {
		width: 60px !important;
		height: 60px !important;
		@include for-mobile {
			width: 45px !important;
			height: 45px !important;
		}
	}
	span {
		display: flex;
		justify-content: flex-start;
		color: #fff;
		align-self: center;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 2px;
		@include for-mobile {
			margin-left: 10px;
		}
	}
}
.mainEventInfoWrap {
	display: flex;
	z-index: 22;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	@include for-mobile {
		flex-direction: column;
		align-items: flex-start;
		padding-left: 40px;
	}
}
.carousel .control-next.control-arrow {
	right: 15px !important;
	@include for-mobile {
		right: 0px !important;
	}
}
