.mainSliderWrap {
	background: linear-gradient(45deg, black, transparent);
	padding: 50px 0px;
	backdrop-filter: blur(5px);
}
.slider1Wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 20px 70px;
	@include for-mobile {
		padding: 20px 20px 20px 20px;
	}
	.contentWrap {
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		@include for-both {
			width: 100%;
			margin-bottom: 20px;
		}
		.our-h {
			font-size: 74px;
			text-align: left;
			font-weight: 300;
			text-transform: uppercase;
			line-height: 30px;
			display: none;
			@include for-mobile {
				font-size: 50px;
				text-align: center;
				display: none;
			}
		}
		.courses-h {
			font-size: 74px;
			text-align: left;
			text-transform: uppercase;
			@include for-mobile {
				font-size: 20px;
				text-align: center;
			}
		}
		.courses-p {
			font-size: 20px;
			text-align: left;
			width: 80%;
			@include for-mobile {
				width: 100%;
				text-align: center;
				font-size: 15px;
			}
		}
		.btn-enrol-wrap {
			margin-top: 30px;
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			@include for-mobile {
				justify-content: center;
			}
			.btn-enrol {
				font-family: 'Poppins';
				font-size: 20px;
				font-weight: 400;
				background: none;
				border-radius: 5px;
				padding: 5px 20px;
				border: 0px;
				box-shadow: 0 0 5px #fff;
				color: #fff;
				transition: 0.3s ease-in-out;
				@include for-mobile {
					font-size: 18px;
					padding: 5px 15px;
					font-weight: 600;
				}
				&:hover {
					transform: scale(1.1);
				}
			}
		}
	}
	.courseCardWrap {
		width: 50%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		.sliderImg {
			width: 90%;
		}
		@include for-both {
			width: 100%;
		}
		// .cardCourse {
		// 	padding: 15px;
		// 	background: rgb(70 130 180 / 80%);
		// 	border-radius: 10px;
		// 	display: flex;
		// 	flex-direction: column;
		// 	width: 48%;
		// 	transition: 0.3s ease-in-out;
		// 	&:hover {
		// 		background: rgb(70 130 180 / 100%);
		// 	}
		// 	.cardCourse-h {
		// 		color: #fff;
		// 		font-weight: 600;
		// 		margin-bottom: 20px;
		// 		font-size: 24px;
		// 	}
		// 	.coursesList {
		// 		display: flex;
		// 		flex-direction: column;
		// 		justify-content: flex-start;
		// 		align-content: flex-start;
		// 		align-items: flex-start;
		// 		padding: 0px 20px;
		// 		li {
		// 			color: #fff;
		// 			font-size: 18px;
		// 			margin-bottom: 5px;
		// 			text-align: left;
		// 		}
		// 	}
		// 	.course-p {
		// 		width: 90%;
		// 		margin-top: 10px;
		// 		margin-bottom: 10px;
		// 		align-self: center;
		// 		font-size: 16px;
		// 		text-align: left;
		// 		color: #fff;
		// 	}
		// }
	}
}
.viewBtn-wrap {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: flex-end;
	align-content: center;
	margin-top: 10px;
	.viewCourse {
		align-self: center;
		background: #fff;
		border: 1px solid #fff;
		color: #4682b4;
		font-size: 18px;
		padding: 5px 15px;
		width: 70%;
		font-family: 'Poppins';
		border-radius: 5px;

		&:hover {
			cursor: pointer;
		}
	}
}
.paddingTop30 {
	margin-top: 30px;
}
.event-h {
	font-size: 60px;
}
.eventWrap {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	@include for-both {
		width: 100%;
		margin-bottom: 20px;
	}
	.courses-p {
		margin-bottom: 10px !important;
		span {
			font-weight: bold;
		}
	}
}
.eventCardWrap {
	width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	.sliderImg {
		width: 60% !important;
	}
	@include for-both {
		width: 100%;
	}
}
